// Variable overrides

$border-radius: 0rem !default;
$border-radius-lg: 0rem !default;
$border-radius-sm: 0rem !default;

$primary: #1890ff !default;

$sidebar-dark-bg: #001529;
$sidebar-dark-brand-bg: $sidebar-dark-bg;
$sidebar-dark-nav-link-active-bg: $primary;
$sidebar-nav-link-padding-y: .7445rem;
$sidebar-width: 212px !default;
$sidebar-sm-width: 152px !default;
$sidebar-lg-width: 270px !default;
$sidebar-xl-width: 344px !default;


$body-color: rgba(0, 0, 0, .85);