<% sections.each do |key, value| %>
  <% if content_for?(key) %>
    <div class="card">
      <div class="card-header">
        <div class="d-flex justify-content-between align-items-center">
          <h5 class="card-title mb-0"><%= value %></h5>
        </div>
      </div>

      <div class="card-body">
        <%= yield key %>
      </div>
    </div>
  <% end %>
<% end %>

<% content_for :footer do %>
  <footer class="c-footer">
    <button class="btn btn-link go-back"><%= (t 'manage.resources.back') %></button>
    <div class="mfs-auto">
      <button type="button" class="btn btn-primary btn-resource"><%= (t 'manage.resources.submit') %></button>
    </div>
  </footer>
<% end %>