<ol class="breadcrumb border-0 m-0 px-0 px-md-3">

  <li class="breadcrumb-item">
    <%= link_to 'Home', url_for({ controller: :dashboard, action: :index }) %>
  </li>

  <% if @model_name %>
    <li class="breadcrumb-item">
      <%= link_to @model_name.pluralize, url_for({ action: :index }) %>
    </li>
  <% end %>

  <% if action_name == 'new' %>
    <li class="breadcrumb-item active">New</li>
  <% end %>

  <% if action_name == 'show' %>
    <li class="breadcrumb-item active">Show</li>
  <% end %>

  <% if action_name == 'edit' %>
    <li class="breadcrumb-item active">Edit</li>
  <% end %>
</ol>